<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"></a>

          <button
            class="btn btn-primary btn-margin"
            routerLink="/">
              Home
          </button>

          <button
            class="btn btn-primary btn-margin"
            *ngIf="auth.isAuthenticated()"
            routerLink="/profile">
              Profile
          </button>

          <button
            class="btn btn-primary btn-margin"
            *ngIf="!auth.isAuthenticated()"
            routerLink="/login">
              Log In
          </button>

          <button
            class="btn btn-primary btn-margin"
            *ngIf="auth.isAuthenticated()"
            (click)="auth.logout()">
              Log Out
          </button>

        </div>
      </div>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <h2 *ngIf="auth.isAuthenticated()">
                Mes collections
            </h2>
            <div class="">
                <ul>
                    <li *ngFor="let collection of myCollections"
                    [class.selected]="collection === selectedCollection"
                    (click)="onSelect(collection)">
                        <span>{{collection.name}}</span>
                        <ul>
                            <li *ngFor="let fav of collection.fav">
                                <a routerLink="/news-content/{{ fav }}"> {{fav}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <app-collection-manager [collection]="selectedCollection"></app-collection-manager>
            </div>
        </div>

        <div class="col-md-6">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
