<div class="panel panel-default profile-area">
  <div class="panel-heading">
    <h3>Profil</h3>
  </div>
  <div class="panel-body">

      <img src="{{profile?.picture}}" class="avatar" alt="avatar">

      <div class="col-md-8"> 

        <div>
          <label><i class="glyphicon glyphicon-user"></i> Pseudo</label>
          <h3 class="nickname">{{ profile?.nickname }}</h3>
        </div>
        <div>
          <label><i class="glyphicon glyphicon-user"></i> Nom :  </label>
          <h3 class="nickname">{{ profile?.family_name }}</h3>
        </div>
         <div>
          <label><i class="glyphicon glyphicon-user"></i> Prénom :  </label>
          <h3 class="nickname">{{ profile?.given_name }}</h3>
        </div>
         <div>
          <label><i class="glyphicon glyphicon-flash"></i> Sexe :  </label>
          <h3 class="nickname">{{ profile?.gender }}</h3>
        </div>

      </div>
  

  </div>
</div>